.calculator {
  width: 60%;
  margin: auto;
  &__title {
    margin-top: 200px;
    text-align: center;
  }
  &__form {
    display: flex;
    margin-top: 50px;
    &-item {
      display: flex;
      width: 50%;
      height: 100px;
      .value {
        font-size: 28px;
      }
      .currency {
        border: none;
        font-size: 30px;
      }
    }
  }
}
